In [19]:
import pandas as pd

file_to_load = "letter-recognition.data"

df = pd.read_csv(file_to_load, names = ["letter", "x-box", "y-box",'width', 'high',
                                       'onpix', 'x-bar', 'y-bar', 'x2bar', "y2bar",
                                       'xybar', 'x2ybr', 'xy2br', 'x-ege', 'xegvy',
                                       'y-ege', 'yegvx'])

In [20]:
df.head()

,letter,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [21]:
#move Target Variable to last columns in dataframe
df1 = df.pop('letter')
df['letter'] = df1

#change the column type to categorical 
df.letter = pd.Categorical(df.letter)
#display the category for the data 
df['letter'] = df.letter.cat.codes

df.head()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,letter
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,19
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,8
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,3
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,13
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,6

In [22]:
train_df = df.sample(frac= 0.8, random_state = 2344893)

test_df =df.drop(train_df.index).sample(frac=1.0)

In [23]:
train_df.to_csv('letter-recognition_train.csv', index=False)
test_df.to_csv('letter-recognition_test.csv', index=False)

In [24]:
len(train_df)

16000

In [25]:
len(test_df)

4000